# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage
*.log

# Build
/dist
/.vite
/build

# Environment
.env
.env.*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# System
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Vite cache
.cache/